html {
  color: white;
  background-image: url("https://sadhost.neocities.org/images/tiles/party.gif");
}

body {
  background: linear-gradient(#ca3530, #57b222) no-repeat;
  max-width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}

h1 {
  color: blue;
}

h3 {
  font-size: 30px;
  color: yellow;
}
